<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue à toi ! La liste des potins arrive bientôt ;)</h1>
        <h2>En attendant, tu peux créer un potin <a href="/gossips/new/">ici</a> !</h2>
  </body>
</html>
